.steps {
  margin: 60px 0;
  padding: 100px 0;
}
.steps-top {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.steps-top .line {
  background-color: rgba(173, 153, 128, 1);
}
.steps-top-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 20%;
  text-transform: uppercase;
  color: rgba(173, 153, 128, 1);
}
.steps-title {
  font-family: Inter;
  font-weight: 300;
  font-size: 52px;
  line-height: 50px;
  letter-spacing: -6%;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 100px;
}

.steps-title span {
  font-style: italic;
}

.steps-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  position: relative;
}

.steps-cards-line{
  position: absolute;
  background-color: rgba(138, 130, 120, 0.2);
  width: calc(100% - 240px);
  height: 2px;
  top: 28px;
  left: 120px;
}
.steps-card {
  max-width: 250px;
}
.steps-card-head {
  width: max-content;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: rgba(247, 244, 238, 1);
}
.steps-card-count {
  width: max-content;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid rgba(138, 130, 120, 0.2);
  background-color: rgba(247, 244, 238, 1);
  width: 56px;
  height: 56px;

  border-radius: 100%;
}

.steps-card-count span {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;

  color: rgba(138, 130, 120, 1);
}

.steps-card-title {
  font-family: Manrope;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 36px;
  color: rgba(28, 26, 23, 1);
}
.steps-card-text {
  margin-top: 12px;
  font-family: Manrope;
  font-weight: 300;
  font-style: Light;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(138, 130, 120, 1);
}
